[submodule "vs/SDL"]
	path = vs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vs/glew"]
	path = vs/glew
	url = gitea@gitea.veleslabs.org:jan.mrna/glew.git
[submodule "vs/SDL_image"]
	path = vs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
